    <p>
      <%= layer.text_field(:color01,  :size => 7, :class => 'colorpicker',
                           :data => { :altfield => "#flag_layer_#{layer.object.id} #{layer.object.target_css[:color01]}",
                                      :altproperties => "#{layer.object.target_property[:color01]}" } ) %>
      <%#<%= layer.text_field(:color02,  :size => 7, :class => 'colorpicker') %>%>
      <%#<%= layer.text_field(:color03,  :size => 7, :class => 'colorpicker') %>%>
      <%#<%= layer.text_field(:color04,  :size => 7, :class => 'colorpicker') %>%>
      <%#<%= layer.text_field(:color05,  :size => 7, :class => 'colorpicker') %>%>
      <%#<%= layer.text_field(:color06,  :size => 7, :class => 'colorpicker') %>%>
    </p>
