<h1>New flag</h1>

<p>Choose base layer:</p>

<%= form_for @flag do |f| %>
  <%= f.fields_for :flag_layers do |flag_layers_form| %>
    <%= flag_layers_form.text_field(:template_name) %>
    <%= flag_layers_form.text_field(:width) %>
    <%= flag_layers_form.text_field(:height) %>
  <% end %>
  <%= f.submit %>
<% end %>
