<h1>Flag <%= @flag.id %></h1>

<%= #image_tag(flag_path(@flag, :format => 'svg'), :width => @flag.base_layer.width, :height => @flag.base_layer.height) 
%>

<%= render :file => 'flags/show.svg.erb' %>


<h3>Layer attributes</h3>

Template: <%= @base_layer.template_name %>

<%= form_for @flag do |f| %>
  <%= f.fields_for :flag_layers do |flag_layers_form| %>
    <p>
    <%= flag_layers_form.color_field(:color01) %>
    <%= flag_layers_form.color_field(:color02) %>
    <%= flag_layers_form.color_field(:color03) %>
    <%= flag_layers_form.color_field(:color04) %>
    <%= flag_layers_form.color_field(:color05) %>
    <%= flag_layers_form.color_field(:color06) %>
    </p>
  <% end %>
  <%= f.submit %>
<% end %>
