<div class="group <%= 'sortable' unless layer_form.object == @base_layer %>">
  <h3 class="ui-accordion-header">Template: <%= layer_form.object.template_name %> <%= '(base layer)' if layer_form.object == @base_layer %></h3>
  <div class="ui-accordion-content">
    <%= render :partial => 'flag_layers/color_pickers', :locals => {:layer_form => layer_form} %>
    <%= layer_form.hidden_field :sortorder %>
  </div>
</div>
