<!DOCTYPE html>
<html>
<head>
  <title>Flagellant</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
    <%= link_to("Flagellant", root_path, :class => 'navbar-brand') %>
  </nav>


  <div class="container">
    <% if flash %>
      <div class="messages">
      <% if flash[:error] %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= flash[:error] %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
